<div id="table-container" class="flex-grow-1 mt-4 border border-light rounded">
  <table class="table table-striped">
    <tbody>
    <tr *ngFor="let result of results">
      <td>
        <app-search-list-item [model]="result"></app-search-list-item>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end mt-4">
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>
