#table-container {

  max-height: calc(100vh - 200px);
  overflow-y: auto;

  table {
    tr {
      &:first-child {
        td {
          border-top: unset;
        }
      }

      td {
        &:first-child {
          width: 1rem;
        }
      }
    }
  }
}


