<div class="d-flex align-items-center">
  <input type="text" class="form-control mr-2" placeholder="Search" [formControl]="searchInputFormControl">
  <button type="button" class="btn btn-primary" [disabled]="disabled" (click)="search()">Search</button>
</div>
