<div class="container mt-4 d-flex flex-column justify-content-center">
  <app-search-input [disabled]="isSearching" (changed)="search($event)"></app-search-input>
  <ng-container *ngIf="!isSearching">
    <app-no-search-results *ngIf="isSearchEmpty"></app-no-search-results>
    <app-search-error *ngIf="doesSearchFailed"></app-search-error>
    <app-search-list *ngIf="isSearchEmpty === false && !doesSearchFailed" [results]="results" (saved)="save()"></app-search-list>
  </ng-container>
  <app-search-spinner *ngIf="isSearching"></app-search-spinner>
</div>
